<!-- templates/edit_photo_form.html.jinja2 -->
<div id="photo-{{ photo.doc_id }}"
     class="bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mb-4">
    <div class="p-5">
        <form hx-post="/edit-photo"
              hx-target="#photo-{{ photo.doc_id }}"
              hx-swap="outerHTML">
            <input type="hidden" name="photo_id" value="{{ photo.doc_id }}">
            <textarea name="entry"
                      class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">{{ photo.entry }}</textarea>
            <button type="submit"
                    class="mt-2 rounded-md bg-green-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-green-500">
                Save
            </button>
        </form>
    </div>
</div>
